*,*::before,*::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

li {
    list-style-type: none;
}

img {
    max-width:100%;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background:rgb(22, 22, 22);
}




.heading {
    background:#fff;
    text-align:center;
    padding:1rem 0;
    letter-spacing: 1px;
}

.dice-roll-btn {
    position: relative;
    border:none;
    background:#fff;
    color:#000;
    padding:0.75rem 1.5rem;
    font-size:21px;
    left:50%;
    transform:translateX(-50%);

    margin:2rem 0;
}

.dice-roll-btn:hover {
    opacity:0.85;
    cursor: pointer;
}

.dice-roll-btn:active {
    opacity:1;
}


/*dice image animation*/

@keyframes diceTransitionAnimation {
    0% {
        transform:rotate(0deg);
    }

    100% {
        transform:rotate(360deg);
    }
}

.dice-image {
    margin:0 auto;
    display:block;

    /* animation-name:diceTransitionAnimation;
    animation-duration: 0.75s;
    animation-delay:2s;
    animation-iteration-count: infinite;
    animation-timing-function:ease;
    /* animation-play-state: play; */
    /* animation-play-state: paused; */

    transition: all ease 0.3s;
}


/* .play-animation {
    animation-play-state: play;
} */


.number-heading {
    text-align:center;
    font-size:22px;
    color:#fff;
    letter-spacing: 1.5px;
    margin-top:3rem;
}



